lib/*
!lib/resolve_deps.cmake
build/
LynxEngine/build
LynxEngine/Build
LynxEngine/LynxEngine.vcxproj.user
LynxEditor/build
LynxEditor/Build
Debug/
tests/
docs/doxygen/
.VSCodeCounter
.vscode/
.vs/
x64/
imgui.ini
assimp-vc140-mt.dll
glew32.dll
SimpleGameEngine.exe
SimpleGameEngine
main
