deps/*
!deps/CMakeLists.txt
!deps/stb_image.h
!deps/lib
!deps/include
!deps/bin
build/
LynxEngine/build
LynxEngine/Build
LynxEngine/LynxEngine.vcxproj.user
LynxEditor/build
LynxEditor/Build
Debug/
tests/
docs/doxygen/
.VSCodeCounter/
.vscode/
.vs/
x64/
vg*
